

body, 
.slide-content {
 
  display: flex;
  flex-direction: column;
  font-family: 'Adobe Caslon Pro', sans-serif;
  margin: 0;
  width: 100%;
  max-width: 100%;
  font-family: 'Adobe Caslon Pro';
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}


nav {

  z-index: 2;

  width: 100%;
  max-width: 100%;
}

.indx-nav {

  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  margin: 0;

  opacity: 0;
  transform: translateY(-30px);
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-name: animacion-entrada-nav;
  animation-fill-mode: forwards;
  animation-delay: .3s;
  background-color: #fff;
  z-index: 2;
}

@keyframes animacion-entrada-nav {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


.indx-nav a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0;
  font-size: 1.5em;
  transition: letter-spacing .5s ease;
}

h1 {
  color:#000000;
}

.indx-nav a:hover {
  color: #c49619;
  letter-spacing: 6px;
}

#home>img {
  margin: 15px;
  width: 100%;
}

#home {
  width: 2%;
}

.inicio {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-image: url("../images/fondo-inicio.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  color: #ffffff;

  padding: 100px;
  height: 1000px;
}
.slide-content{
  top: 0;
  overflow: hidden;
  height: 100vh;
}

.slide-content section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 0px;
  width: 200px;
  z-index: 2;
  margin-top: 40%;
}
.dias section button{
  color: rgba(255, 255, 255, 0.521);
  font-family: 'Metropolis';
  font-weight: 100;
  background-color: transparent;
  border: none;
  outline: none;
  display: inline;
  flex-direction: row;
  top: 550px;
  font-size: 15px;

}

.dias section button:hover{
  color: #fff;
}

.dias section{
  position: absolute;
  top: 550px;
  left:38.5%;
  z-index: 1;
  font-size:7em; 
}




.slide-content p:hover{
  color: #ffffff;
  margin: 0;
  height: 100vh;
}

.inicio > * {
  opacity: 0;
 transform: translateY(100px);
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-name: animacion-entrada-header;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes animacion-entrada-header {
  0% {
    opacity: 0;
    /*transform: translateY(-50px);*/
  }

  50% {
    opacity: .3;
  }

  100% {
    opacity: 1;
    /*transform: translateY(0);*/
  }
}

.inicio > *:last-child {
  animation-delay: 2s;

}

.inicio span {
  text-align: center;
  font-size: 4em;
  letter-spacing: 10px;
  margin: 20px 0 0 0;
}

.inicio h3 {
  margin: 0;
  font-size: 2em;
}

h3 {
  font-style: italic;
  font-weight: 400;
}

#scroll-inicio {
  animation-delay: 1s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: flota;
  animation-timing-function: ease;
  margin: 150px 0 0;
  position: relative;
  transform: translateY(-60px);
}

@keyframes flota {
  0% {
    transform: translateY(-20px);
    }
  50% {
    transform: translateY(0);
   }
  100% {
    transform: translateY(-20px);
    }
}

.intro {
  align-content: center;
  align-items: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.nav-cursos {
  align-items: center;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.nav-cursos a{
  color: #000000;
  font-size: 1.5em;
  letter-spacing: 0;
  text-decoration: none;
  transition: all .5s ease;
}

.nav-cursos a:hover {
  color: #c49619;
  letter-spacing: 6px;
}

.nav-cursos img {
  height: 3%;
  margin: 15px;
  width: 3%;
}

.container{
  padding-top: 8%;
}

.row{
  margin-bottom: 20px;
}

article div{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

article img{
  box-shadow: 10px 15px 20px rgb(0,0, 0, .3);
  display: block;
  margin: auto;
  padding-top: -20px;
  width:60%;
  z-index: 0;
}

article h1{
  background-color: #ffffff;
  display: flex;
  font-size: 30px;
  font-weight: normal;
  margin: auto;
  padding: 5px 20px;
  transform: translate(0,20px);
  z-index: 1;
}

article p{
  font-size: 25px;
  justify-content: center;
  margin: auto;
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
  width: 80%;
}

.card{
  align-content: center;
  border: none;
  display: flex;
  margin: auto;
  width: 80%;
}

.card a{
  color: #000000;
  text-decoration: none;
}

.card p{
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  padding-top: 10px;
}

.card img{
  background: none;
  display: flex;
  filter: grayscale(0%);
  transition: 0.2s linear;
}

.card img:hover{
  filter: drop-shadow(0px 10px 10px black)
  saturate(30%) grayscale(30%);
  justify-content: center;
  transform: translate(-10px,-20px);
  width: 120%;
  z-index: 3;
}

.modal fade{
  font-weight: normal;
  margin: auto;
  overflow: auto;
  padding: 5px 20px;
  transform: translate(0,20px);
  width: auto;
  z-index: 1;
}

.modal-content{
  animation-duration: 0.5s;
  animation-name: animatetop;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  justify-content: center;
  margin: auto;
  width: 120%;
}

@keyframes animatetop {
  from {top: 300px; opacity: 0}
  to {top: 0; opacity: 1}
}


.modal-header{
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;;
}

.modal-header .modal-title{
  display: flex;
  font-size: 30px;
  justify-content: center;
  margin: 10px;
}

.modal-header > div{
  justify-content: row;
  padding: 20px;

}

.modal-content{
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.modal-content .close{
  color: #C2962C;
  margin: 0;
  font-size: 50px;
  align-self: flex-end;
}

.modal-header span{
  font-size: 20px;
  padding: 0px 10px;
  flex-wrap: nowrap;
}

.modal-body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.video{
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
}

.modal-body h1{
  font-size: 25px;
  padding: 20px 10px;
  letter-spacing: 5px;
}
.modal-body p{
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 15px;
}


.modal-body p span{
  padding: 10px;
}

.modal-footer{
  align-self: flex-end;
}


.equipo-intro {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  height: 100vh;
}

.equipo-intro h1,
.equipo-intro h2,
.equipo-intro h3 {
  color: #000000;
  background-color: #ffffff;
  z-index: 1;
  margin: 0;
}

.equipo-intro div {
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-image: url("../images/Equipo-HA.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  height: 350px;
  width: 80%;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 40px;
  box-shadow: 5px 5px 20px #000000;
}

.equipo-intro h1 {
  transform: translate(0, 20px);
  padding: 0 10px;
  margin: 70px 0 0;
}

.equipo-intro div h2,
.equipo-intro div h3 {
  text-align: right;
  padding: 0 5px;
}

.intro button {
  font-size: 2em;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 15px;
  font-family: 'Adobe Caslon Pro';
  margin: 30px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000000;
  transition: all .7s ease;
}

.intro button:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #c49619;
  font-size: 2.3em;
}



.img-principal {
  display: flex;
  justify-content: center;
  padding-top: 15%;
}

.img-principal div {
  background-image: url(../images/Arriba.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
  height: 300px;
  margin: 0;
  width: 70%;
}

.img-principal h1 {
  background-color: #ffffff;
  color: #000;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  padding: 0 30px 10px;
  position: absolute;
  transform: translate(0, -15px);
}

.texto1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.texto1 h2 {
  font-size: 35px;
  font-weight: normal;
  margin: 0;
  padding-top: 10%;
  text-align: center;
}

.texto1 h4 {
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  margin: 0;
  text-align: center;
}


  a.img-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.texto {
  display: flex;
  justify-content: center;
  padding-top: 5%;
}

.texto span{
  text-align: center;
  font-size: 30px;
  width: 70%;
}


.frase {
  display: flex;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 25%;
}

.frase span {
  text-align: center;
  font-size: 35px;
  width: 47%;
  padding-top: 5%;
}

.frase span p {
  position: relative;
  font-style: italic;
  text-align: center;
  margin: 0;
  font-size: 20px;
  padding-top: 3%;
}

.frase span strong {
  color: #c49619;
}

.frase img{
  position: absolute;
  width: 10%;
  transform: translate(-160px, 40px);
  z-index: -1;
}

#cerradas {
  position: absolute;
  width: 10%;
  transform: translate(160px, 90px);
  z-index: -1;
}

#fresas {
  position: absolute;
  width: 10%;
  transform: translate(470px, -50px) scale(2.5);
  z-index: -1;
}

#mantequilla {
  position: absolute;
  width: 10%;
  transform: translate(-400px, 200px) scale(3.3) rotate(-30deg);
  z-index: -2;
}

.estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15%;
  flex-direction: column;
}

.estrellas h1 {
  font-size: 30px;
  font-weight: normal;
  color: #1c2541;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid #c49619;
  width: 15%;
}

.slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pastel {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 5%;

}
.pastel a img{
  width: 200px;
  height: 100%;
  margin: 10px;
}

.pastel a {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: grayscale(0%);
  background: none;
  transition: 0.2s linear;
}

.pastel a p{
  position: absolute;
  color: rgba(255, 255, 255, 0);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  transition: 0.09s linear;
  padding-top: 20%;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
}

.pastel a p:hover {
  color: rgba(0, 0, 0, 1);
}

.pastel a:hover {
  filter: grayscale(80%);
}

#linea {
  border-bottom: 2px solid #c49619;
  width: 15%;
  height: 100%;
  padding-top: 3%;
}

.boton-estrellas {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-top: 2%;
}

.boton-estrellas button {
  cursor: pointer;
  background-color: #f0edee;
  border: 0;
  border-radius: 50%;
  width: 65px;
  height: 25px;
  color: #f0edee;
  margin: 10%;
  outline: none;
}

.estrellas span {
  font-size: 30px;
  padding-top: 0.5%;
}

.boton-estrellas button:hover {
  background-color: #1c2541;
  color: #1c2541;
  transition: 0.3s ease-in;
}

.boton-estrellas button:focus {
  background-color: #1c2541;
  color: #1c2541;
}

#overlay {
	display: none;
	z-index: 2;
	background: #000;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	text-align: center;
}
#specialBox {
  display: none;
  justify-content: space-around;
  flex-direction: row;
	position: absolute;
  z-index: 3;
  top: 210%;
  left: 10%;
	margin: 150px auto 0px auto;
	width: 80%;
	height: 70%;
	background: #1c2541;
  color: #000;
}

#specialBox button {
  position: absolute;
  cursor: pointer;
  background-image: url(../images/equis.png);
  background-repeat: no-repeat;
  width: 3%;
  height: 6%;
  background-size: 100%;
  background-color: #1c2541;
  border: none;
  background-position: center;
  margin: 20px;
  right: 10px;
  top: 10px;
}

#img-overlay {
  position: absolute;
  background-image: url(../images/pastelito.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 500px;
  height: 500px;
  margin: 60px;
  top: 4%;
  left: 0;
}

#specialBox h2{
  margin-left:600px;
  margin-top: 200px;
  margin-bottom: 5px;
  color: #ffffff;
  font-size: 3em;
  font-weight: 200;

}
#specialBox p{
  margin-left:600px;
  margin-top: 0px;
  color: #ffffff;
  font-size: 2em;
  font-weight: 200;

}


.menu-intro {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url("../images/ListonDorado.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}


.menu-intro div>h1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #000000;
  background: linear-gradient(90deg,#999 0%, #ffffff 25%);
  padding: 5px 15px 5px 60px;
  z-index: -1;
  margin: 30px;
  width: 100%;
}

.menu-intro div>button {
  margin: 0;
}

.menu-intro img {
  z-index: 2;
}

.menu-intro>div {
  display: flex;
  flex-direction: row;
  z-index: 1;
  height: 60vh;
  width: 60%;
  align-items: center;
  justify-content: center;
}

.menu-intro>div>div {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#escondido {
  display: none;
}

.intro-cursos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/Cursos-intro.jpg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.intro-cursos h1 {
  margin: 0;
  text-align: center;
  font-size: 2.5em;
}

.intro-cursos button {
  margin: 0;
  background-color: #fff;
}

.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 90%;
}

.contacto form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40%;
}

.contacto h1 {
  font-size: 4em;
  text-align: center;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  font-size: 2em;
  font-style: italic;
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 15px;
  font-family: 'Adobe Caslon Pro';
  margin: 30px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000000;
  transition: all .7s ease;
}

input[type=submit]:hover {
  background-color: rgba(0, 0, 0, 1);
  color: #c49619;
  font-size: 2.3em;
}

.contacto iframe {
  width: 400px;
  height: 150px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  height: 25vh;
  padding: 10px 50px;
}

footer>section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  flex-wrap: nowrap;
}

footer>section>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 10px 0 0;
}

footer .social{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: left;
}

footer>section>div>p {
  color: #fff;
  font-family: 'Montserrat';
  margin: 0 0 15px;
  font-size: 10pt;
  font-weight: 100;
}

footer>section>div>.titulo {
  font-weight: 700;
  margin: 0 0 5px;
}

.social>div {
  display: inline-block;
  overflow: hidden;
  height: 55px;
  width: 250px;
  margin: 0;
}

footer>section>div>img {
  position: relative;
  transform: translate(0,0);
  transition: all 0 ease;
}

#fb {
  transform: translate(0, 0);
}

#fb:hover {
  transform: translate(0,-86px);
}

#insta {
  transform: translate(0, 0);
}

#insta:hover {
  transform: translate(0,-86px);
}

#twt {
  transform: translate(0, 0);
}

#twt:hover {
  transform: translate(0,-86px);
}


/*Mobile*/
@media screen and (max-width: 600px) {
/*CSS Para Dispositivos Chicos*/

  .inicio  {
    background-size: 400%;
    background-position: center top;
  }

  .indx-nav {
    flex-wrap: nowrap;
    width: 100%;
  }

  .indx-nav a {
    font-size: 1em;
  }

  .inicio span {
    font-size: 2.2em;
  }

  #home>img {
    width: 10%;
    margin: 15px;
    width: 60%;
  }

  #home {
    order: -1;
    width: 15%;
  }


  .equipo-intro div {
    background-image: url("../images/Equipo-HAmobile.jpg");
    background-size: 120%;
  }

  .img-principal div {
    height: 70px;
    margin-top: 10%;
  }

  .texto1 h2 {
    font-size: 20px;
  }

  .texto1 h4 {
    font-size: 10px;
  }

  .img-principal h1 {
    font-size: 22px;
    transform: translate(0, 10px);
  }

  .texto span {
    font-size: 10px;
  }

  .frase span {
    font-size: 15px;
  }

  .frase span p {
    font-size: 10px;
  }

  .pastel a img{
    width: 80px;
  }

  .estrellas h1 {
    font-size: 25px;
    width: 50%;
  }

  #fresas {
    width: 10%;
    transform: translate(120px, 10px) scale(1.5);
  }

  #mantequilla {
    position: absolute;
    width: 10%;
    transform: translate(-100px, 100px) scale(2.5) rotate(-30deg);
  }

  .frase img{
    transform: translate(-70px, 10px);
  }

  #cerradas {
    transform: translate(55px, 75px);
  }

  .pastel a img{
    width: 70px;
    height: 70px;
  }

  .boton-estrellas button {
    width: 10px;
    height: 14px;
  }

  .estrellas span {
    font-size: 13px;
}


  .equipo-intro div h2{
    font-size: 1.5em
  }
  .equipo-intro div h3 {
    font-size: 1.2em;
  }

  .menu-intro>div img {
    max-width: calc(100% - 10px);
  }

  .menu-intro div>div>a>button {
    display: none;
  }

  #escondido {
    display: flex;
    margin: 60px 30px 0;
    transform: translate(0, -100px);
  }

  .menu-intro div>h1 {
    font-size: 1.5em;
    max-width: calc(100% - 60px);
    margin: 20px 0 0;
    transform: translate(-20px, 0);
  }

  .menu-intro>div>div {
    width:70%;
    align-items: flex-end;
    justify-content: center;
  }



  .menu-intro {
    background-size: 100%;
    background-position: 50% 30%;
    height: 60vh;
  }

  .intro-cursos {
    background-size: 200%;
  }

  .intro-cursos button {
    transform: translate(0, 200px);
  }

  .intro-cursos h1 {
    font-size: 2.5em;
    margin: 50px 0 0;
  }

  .contacto form {
    width: 90%;
  }

  .contacto h1 {
    font-size: 3em;
    text-align: center;
  }

  .contacto iframe {
    width: 300px;
    height: 150px;
  }

  footer {
    flex-direction: column;
    height: 40vh;
    padding: 5px

  }

  footer>section {
    justify-content: center;
    width: 100%;
  }

  footer .social {
    justify-content: center;
  }

  footer>section>div>p {
    font-size: 8pt;
  }

  .social>div>img {
    width: 30%;
  }

  .social>div {
    width: 200px;
  }

  #fb {
    transform: translate(0, 0);
  }

  #fb:hover {
    transform: translate(0,-66px);
  }

  #insta {
    transform: translate(0, 0);
  }

  #insta:hover {
    transform: translate(0,-66px);
  }

  #twt {
    transform: translate(0, 0);
  }

  #twt:hover {
    transform: translate(0,-66px);
  }

  .contacto h1 {
    margin: 50px 0 0;
  }

}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  /*TABLETS Y CRAPPY PCS*/
  .inicio  {
    background-size: 250%;
    background-position: center top;
  }

  .indx-nav a {
    font-size: 2em;
  }

  .inicio span {
    font-size: 4em;
  }

  .inicio h3 {
    font-size: 2em;

  }

  #home>img {
    width: 10%;
    margin: 15px;
    width: 50%;
  }

  #home {
    order: -1;
    width: 10%;
  }
  .equipo-intro div {
    background-size: 250%;
    background-position: left top;
  }


  .img-principal div {
    height: 175px;
  }

  #fresas {
    width: 10%;
    transform: translate(295px, -10px) scale(1.5);
  }

  #mantequilla {
    position: absolute;
    width: 10%;
    transform: translate(-240px, 200px) scale(2.5) rotate(-30deg);
  }

  .texto1 h2 {
    font-size: 35px;
  }

  .texto1 h4 {
    font-size: 20px;
  }

  .img-principal h1 {
    font-size: 40px;
    transform: translate(0, -35px);
  }

  .texto span {
    font-size: 25px;
  }

  .frase span {
    font-size: 30px;
  }

  .pastel a img{
    width: 180px;
  }

  .estrellas h1 {
    font-size: 35px;
    width: 30%;
  }


  .equipo-intro h1 {
    margin: 100px 0 0;
  }

  .equipo-intro div {
    background-image: url("../images/Equipo-HAtablet.jpg");
    background-size: 135%;
    height: 40vh;
  }

  .equipo-intro button {
    margin: 100px 0 0;
  }

  .contacto h1 {
    font-size: 3em;
    text-align: center;
  }

  .menu-intro>div img {
    max-width: calc(100% - 60px);
  }

  .intro-cursos {
    background-size: 100%;
  }

  footer {
    flex-direction: column;
    height: 30vh
  }

  footer>section {
    justify-content: center;
    width: 100%;
  }

  footer .social {
    justify-content: center;
  }

  .social>div>img {
    width: 30%;
  }

  .contacto h1 {
    margin: 70px 0 0;
  }

  .social>div {
    width: 200px;
  }

  #fb {
    transform: translate(0, 0);
  }

  #fb:hover {
    transform: translate(0,-66px);
  }

  #insta {
    transform: translate(0, 0);
  }

  #insta:hover {
    transform: translate(0,-66px);
  }

  #twt {
    transform: translate(0, 0);
  }

  #twt:hover {
    transform: translate(0,-66px);
  }

}

@media screen and (min-width: 1201px) and (max-width: 2400px) {
  /*COMPUTADORAS DE ESCRITORIO*/


  .img-principal div {
    height: 270px;
  }

  #fresas {
    width: 10%;
    transform: translate(395px, -90px) scale(1.3);
  }

  #mantequilla {
    width: 10%;
    transform: translate(-340px, 200px) scale(2.3) rotate(-30deg);
  }

  .img-principal h1 {
    font-size: 50px;
    transform: translate(0, -35px);
  }
  

  .equipo-intro div {
    background-image: url("../images/Equipo-HA.jpg");
    background-size: 100%;
    height: 40vh;
  }

  .equipo-intro h1 {
    margin: 100px 0 0;
  }

  .inicio {
    background-size: 120%;
  }

}

@media screen and (min-width: 2401px) {
  /*TODO LO GIGANTE*/

  .barra-nosotros {
    width: 80%;
  }
  .prueba {
    width: 100%;
  }
  .img-principal div {
    height: 550px;
  }

  .barra-nosotros a {
    font-size: 3.5em;
  }
  .texto1 h2 {
    font-size: 65px;
  }

  .texto1 h4 {
    font-size: 40px;
  }

  .img-principal h1 {
    font-size: 80px;
    transform: translate(0, -35px);
  }

  .texto span {
    font-size: 45px;
  }

  .frase span {
    font-size: 60px;
  }

  #fresas {
    width: 10%;
    transform: translate(795px, -90px) scale(2.3);
  }

  #mantequilla {
    width: 10%;
    transform: translate(-640px, 300px) scale(3.3) rotate(-30deg);
  }

  .estrellas {
    padding-top: 20%;
  }

  .estrellas h1 {
    font-size: 80px;
    width: 25%;
    border-bottom: 5px solid #c49619;
  }

  .pastel a img{
    width: 400px;
  }

  .estrellas span {
    font-size: 50px;
}

  .inicio  {
    background-size: 250%;
    background-position: center top;
  }

  .indx-nav a {
    font-size: 4em;
  }

  .inicio span {
    font-size: 6em;
  }

  .inicio>img{
    width: 5%;
  }

  .inicio h3 {
    font-size: 4em;
  }

  #home>img {
    width: 50%;
    margin: 15px;
  }

  #home {
    width: 6%;
  }

  .equipo-intro div {
    background-size: 250%;
    background-position: left top;
  }

  .equipo-intro h1 {
    margin: 200px 0 0;
    font-size: 4em;
  }

  .equipo-intro div {
    background-image: url("../images/Equipo-HA.jpg");
    background-size: 100%;
    height: 50vh;
  }

  .equipo-intro div h2 {
    font-size: 3em;
  }

  .equipo-intro div h3 {
    font-size: 2em;
  }

  .intro button,
  .contacto input[type=submit] {
    margin: 50px 0 0;
    font-size: 4em;
  }

  .menu-intro>div img {
    width: 90%;
  }

.menu-intro>div>div {
  width: 50%;
}

.menu-intro div>h1 {
  font-size: 5em;
  transform: translate(-50px, 0);
}

.menu-intro>div>div>button {
  transform: translate(-50px, 0);
}


  .intro-cursos {
    background-size: 80%;
  }

  .intro-cursos h1 {
    font-size: 6em;
  }

  .intro-cursos button {
    margin: 50px 0 0;
  }

  .contacto h1 {
    font-size: 6em;
  }

  .contacto iframe {
    width: 800px;
    height: 300px;
  }

  .contacto form {
    width: 50%;
  }

  .contacto input[type=text] {
    font-size: 3em;
    padding: 20px 15px;
  }

  footer {
    flex-direction: row;
    height: 20vh
  }

  footer>section {
    justify-content: center;
    width: 100%;
  }

  footer .social {
    justify-content: center;
  }

  footer>section>div>p {
    font-size: 25px;
  }

  .social>div>img {
    width: 15%;
  }

  .social>div {
    width: 600px;
    height: 70px;
  }

  #fb {
    transform: translate(300px, 0);
  }

  #fb:hover {
    transform: translate(300px,-99px);
  }

  #insta {
    transform: translate(300px, 0);
  }

  #insta:hover {
    transform: translate(300px,-99px);
  }

  #twt {
    transform: translate(300px, 0);
  }

  #twt:hover {
    transform: translate(300px,-99px);
  }


  .intro-cursos {
    background-size: 80%;
  }

  .intro-cursos h1 {
    font-size: 6em;
  }

  .intro-cursos button {
    margin: 50px 0 0;
  }

  .contacto h1 {
    font-size: 6em;
  }

  .contacto iframe {
    width: 800px;
    height: 300px;
  }

  .contacto form {
    width: 50%;
  }

  .contacto input[type=text] {
    font-size: 3em;
    padding: 20px 15px;
  }

  footer {
    flex-direction: row;
    height: 20vh
  }

  footer>section {
    justify-content: center;
    width: 100%;
  }

  footer .social {
    justify-content: center;
  }

  footer>section>div>p {
    font-size: 25px;
  }

  .social>div>img {
    width: 15%;
  }

  .social>div {
    width: 600px;
    height: 70px;
  }

  #fb {
    transform: translate(300px, 0);
  }

  #fb:hover {
    transform: translate(300px,-99px);
  }

  #insta {
    transform: translate(300px, 0);
  }

  #insta:hover {
    transform: translate(300px,-99px);
  }

  #twt {
    transform: translate(300px, 0);
  }

  #twt:hover {
    transform: translate(300px,-99px);
  }

#linea {
  border-bottom: 5px solid #c49619;
}
}
#carta{
  margin-bottom: 40px; 
  margin-top: 45px;
  font-weight: 200;
  font-size: 50px;
  border-bottom: #c49619 solid;
  display: flex;
  justify-content: center;
  align-items: initial;
  margin-left: auto;
  margin-right: auto;
}

.container div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  border-radius: 5px;
  height: calc(100% - 50px);
}

.container div div {
 
  margin-left: auto;
  margin-right: auto;
}

.contenedor__menu img{
  width: 50%x;
  height: 50%;
  width: 200px;
  display: block;
  padding: 0;
  box-shadow: 0 5px 30px rgba(0,0,0, 0.2);
}
.contenedor__menu .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor__menu p{
  display: block;
  width: 200px;
  padding-left: 10px;
}

.contenedor__menu div div div{
  display: flex;
  flex-direction: column ;
  margin-left: 3em;
  margin-right: 3em;
  
}
.col-md-4 h2 {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
}








/* ------------------------------------------------------------------------*/


.slider span{
  margin-top: 20%;
}


.main .wrap{
  position: relative;
}
.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1{
  background-image: url('../images/menu-imagen.png');
}
.slide2{
  background-image: url('../images/menu/carusel/slider2.png');
}
.slide3{
  background-image: url('../images/menu/carusel/slider3.png');
}
.slide4{
  background-image: url('../images/menu/carusel/slider4.png');
}
.slide5{
  background-image: url('../images/menu/carusel/slider5.png');
}
.slide6{
  background-image: url('../images/menu/carusel/slider1.png');
}
.slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-content span{
  font-size: 4rem;
  color: aliceblue;
  text-shadow:  2px 2px 5px rgba(0,0,0, 0.5);
}
.arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top:-30px;
  width: 0;
  height: 0;
  border-style: solid; 
}
#arrow-left{
  border-width: 30px 40px 30px 0;
  border-color: transparent  rgba(255,255,255, 0.3) transparent transparent;
  left: 0;
  margin-left: 30px;
}
#arrow-left:hover{
  border-color: transparent  #fff transparent transparent;
}
#arrow-right{
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent rgba(255,255,255, 0.3);
  right: 0;
  margin-right: 30px;margin-top: 5 0px;

}
#arrow-right:hover{
  border-color: transparent transparent transparent #fff;
}







/*------------------------------------------------------------------------*/



@media screen and (max-width: 600px) {
  /* CSS PARA DISPOSITIVOS CHICO*/
  .slide-content{
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  /*TABLETS Y CRAPPY PCS*/
  .slide-content{
    width: 100%;
  }
}

@media screen and (min-width:1201px) and (max-width:2400px) {
  /*DESKTOP*/
  .slide-content{
    width: 100%;
  }
}

@media screen and (min-width:2401px) {
  /*TODO LO DEMAS GIGANTESCO*/
  .slide-content{
    width: 100%;
  }

}
