
body, 
.slide-content {
  font-family: 'Adobe Caslon Pro', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}


nav {
  z-index: 2;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin: 0;
  background-color:#231F20;
}

nav a {
  text-decoration: none;
  color: #000;
  letter-spacing: 0;
  font-size: 1.5em;
  transition: letter-spacing .5s ease;
}

nav a:hover {
  color: #c49619;
  letter-spacing: 6px;
}

nav img {
  margin: 15px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: -1;
  background-image: url("../images/fondo-inicio.png");
  background-size: 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 100px;
  height: 1000px;
}
.slide-content{
  top: 0;
  overflow: hidden;
  height: 100vh;
}

.slide-content section{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  height: 0px;
  width: 200px;
  z-index: 2;
  margin-top: 40%;
}
.dias section button{
  color: rgba(255, 255, 255, 0.521);
  font-family: 'Metropolis';
  font-weight: 100;
  background-color: transparent;
  border: none;
  outline: none;
  display: inline;
  flex-direction: row;
  top: 550px;
  font-size: 15px;

}

.dias section button:hover{
  color: #fff;
}

.dias section{
  position: absolute;
  top: 550px;
  left:38.5%;
  z-index: 1;
  font-size:7em; 
}




.slide-content p:hover{
  color: #ffffff;
 
}

header span {
  text-align: center;
  font-size: 4em;
  letter-spacing: 10px;
}
#carta{
  margin-bottom: 40px; 
  margin-top: 45px;
  font-weight: 200;
  font-size: 50px;
  border-bottom: #c49619 solid;
  display: flex;
  justify-content: center;
  align-items: initial;
  margin-left: auto;
  margin-right: auto;
}

.container div {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  border-radius: 5px;
  height: calc(100% - 50px);
}

.container div div {
 
  margin-left: auto;
  margin-right: auto;
}

.contenedor__menu img{
  width: 50%x;
  height: 50%;
  width: 200px;
  display: block;
  padding: 0;
  box-shadow: 0 5px 30px rgba(0,0,0, 0.2);
}
.contenedor__menu .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contenedor__menu p{
  display: block;
  width: 200px;
  padding-left: 10px;
}

.contenedor__menu div div div{
  display: flex;
  flex-direction: column ;
  margin-left: 3em;
  margin-right: 3em;
  
}
.col-md-4 h2 {
  margin: 0;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 500;
}








/* ------------------------------------------------------------------------*/


.slider span{
  margin-top: 20%;
}


.main .wrap{
  position: relative;
}
.slide{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1{
  background-image: url('../images/menu-imagen.png');
}
.slide2{
  background-image: url('../images/menu/carusel/slider2.png');
}
.slide3{
  background-image: url('../images/menu/carusel/slider3.png');
}
.slide4{
  background-image: url('../images/menu/carusel/slider4.png');
}
.slide5{
  background-image: url('../images/menu/carusel/slider5.png');
}
.slide6{
  background-image: url('../images/menu/carusel/slider1.png');
}
.slide-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slide-content span{
  font-size: 4rem;
  color: aliceblue;
  text-shadow:  2px 2px 5px rgba(0,0,0, 0.5);
}
.arrow{
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top:-30px;
  width: 0;
  height: 0;
  border-style: solid; 
}
#arrow-left{
  border-width: 30px 40px 30px 0;
  border-color: transparent  rgba(255,255,255, 0.3) transparent transparent;
  left: 0;
  margin-left: 30px;
}
#arrow-left:hover{
  border-color: transparent  #fff transparent transparent;
}
#arrow-right{
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent rgba(255,255,255, 0.3);
  right: 0;
  margin-right: 30px;margin-top: 5 0px;

}
#arrow-right:hover{
  border-color: transparent transparent transparent #fff;
}







/*------------------------------------------------------------------------*/



@media screen and (max-width: 600px) {
  /* CSS PARA DISPOSITIVOS CHICO*/
  .slide-content{
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  /*TABLETS Y CRAPPY PCS*/
  .slide-content{
    width: 100%;
  }
}

@media screen and (min-width:1201px) and (max-width:2400px) {
  /*DESKTOP*/
  .slide-content{
    width: 100%;
  }
}

@media screen and (min-width:2401px) {
  /*TODO LO DEMAS GIGANTESCO*/
  .slide-content{
    width: 100%;
  }

}
